/* Creamos las variables de los colores */
:root {
    --negro: #000000;
    --negro-carbon: #333333;
    --azul: #007BFF;
    --morado-oscuro: #4B0082;
    --morado-chillon: #8A2BE2;
    --blanco: #FFFFFF;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--negro-carbon);
    color: var(--blanco);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--azul);
}

a {
    color: var(--morado-chillon);
}

.btn {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}
.btn:hover {
    background-color: var(--morado-oscuro);
}



/* * Estilizamos el header */
header {
    background: var(--morado-oscuro);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; /* Posición en la parte superior */
    left: 0; /* Posición a la izquierda */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Asegurar que el header esté por encima de otros elementos */
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 20px;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li a {
    display: inline-block;
    color: var(--blanco);
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}
header nav ul li a:hover {
    border-bottom-color: dodgerblue;
}
.hamburger {
    cursor: pointer;
    display: none;
    padding-right: 20px;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -150%;
        top: 70px;
        width: 100%;
        background: var(--morado-oscuro);
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}



/* * Estilisamos el Home */
.home {
    background-image: url("../img/black-background.jpg");
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover; /* Ajustar tamaño de la imagen para cubrir toda la sección */
    background-position: center;
    padding: 40px 0;
    text-align: center;
    height: 95vh;
}
.home img {
    width: 80%;
    max-width: 700px;
}
.home .tagline {
    color: var(--morado-chillon);
}
.home .cta-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente línea si no caben */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre botones */
    align-items: center;
    text-align: center;
}



/* * Estilisamos la sección de About me */
.about_me{
    background-color: var(--morado-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}
.about_me .intro-text {
    max-width: 700px;
}
.about_me .bio {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.about_me .bio img {
    width: 100%;
    border-radius: 10%;
}
@media only screen and (min-width: 700px) {
    .about_me .bio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }
}



/* * Estilisamos la sección de Projects */
.projects {
    padding: 35px 20px 0 20px;
    text-align: center;
    background: url('../images/projects-background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: var(--azul); /* Azul */
        margin-bottom: 30px;
    }

    .btn {
        margin-top: 24px;
    }

    .projects-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1350px;
    }

    .project-card {
        background: var(--negro-carbon); /* Negro Carbón */
        border-radius: 10px;
        overflow: hidden;
        max-width: 300px;
        text-align: left;
        color: var(--blanco); /* Blanco */
        box-shadow: 0 4px 8px rgba(95, 0, 204, 0.616);
        transition: transform 0.3s;
        text-align: center;

        &:hover {
            transform: translateY(-10px);
        }

        &:hover a {
            background-color: var(--morado-oscuro);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h3 {
            margin: 20px 15px 10px 15px;
            color: var(--morado-chillon); /* Morado Chillón */
        }

        p {
            margin: 0 15px 20px 15px;
        }

        .btn {
            display: block;
            background-color: var(--azul); /* Azul */
            color: var(--blanco); /* Blanco */
            text-align: center;
            padding: 10px 0;
            margin: 0 15px 20px 15px;
            text-decoration: none;
            border-radius: 5px;
        }
    }
}



/* * Estilizamos la seccion del blog */
.blog {
    padding: 35px 20px 0 20px;
    text-align: center;
    background: url('../images/blog-background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: #007BFF; /* Azul */
        margin-bottom: 30px;
    }

    .blog-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1350px;
        margin-bottom: 20px;
    }

    .blog-card {
        background: #333333; /* Negro Carbón */
        border-radius: 10px;
        overflow: hidden;
        max-width: 300px;
        text-align: left;
        color: #FFFFFF; /* Blanco */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-10px);
        }

        &:hover a {
            background-color: var(--morado-oscuro);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h3 {
            margin: 20px 15px 10px 15px;
            color: #8A2BE2; /* Morado Chillón */
        }

        p {
            margin: 0 15px 20px 15px;
        }

        .btn {
            display: block;
            background-color: #007BFF; /* Azul */
            color: #FFFFFF; /* Blanco */
            text-align: center;
            padding: 10px 0;
            margin: 0 15px 20px 15px;
            text-decoration: none;
            border-radius: 5px;
        }
    }
}



/* * Estilizamos la sección de Testimonios */
.testimonials {
    padding: 35px 20px 0 20px;
    text-align: center;
    background: url('../images/testimonials-background.jpg') no-repeat center center;
    background-size: cover;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: #007BFF; /* Azul */
        margin-bottom: 30px;
    }

    .testimonials-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .testimonial-card {
        background: #333333; /* Negro Carbón */
        border-radius: 10px;
        overflow: hidden;
        max-width: 300px;
        text-align: left;
        color: #FFFFFF; /* Blanco */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-10px);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        blockquote {
            margin: 20px 15px;
            font-style: italic;
            color: #AAAAAA;
        }

        .author {
            margin: 0 15px 20px 15px;
            font-size: 0.9em;
            color: #AAAAAA;
        }
    }
}



/* * Estilizamos la sección de contacto */
.contact {
    padding: 35px 20px 0 20px;
    text-align: center;
    background: url('../images/contact-background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: #007BFF; /* Azul */
        margin-bottom: 30px;
    }

    .intro-text {
        margin-bottom: 30px;
        color: #FFFFFF; /* Blanco */
    }

    .contact-form {
        text-align: left;
        width: 100%;
        max-width: 1200px;

        form {
            display: flex;
            flex-direction: column;

            .form-group {
                margin-bottom: 20px;

                label {
                    display: block;
                    color: #FFFFFF; /* Blanco */
                    margin-bottom: 5px;
                }

                input, textarea {
                    width: 95%;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    font-size: 1em;
                }

                input[type="text"], input[type="email"] {
                    height: 40px;
                }

                textarea {
                    resize: vertical;
                }
            }

            .btn {
                background-color: #007BFF; /* Azul */
                color: #FFFFFF; /* Blanco */
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1em;
                text-align: center;

                &:hover {
                    background-color: var(--morado-oscuro); /* Azul oscuro */
                }
            }
        }
    }
}



/* * Estilizamos el Footer */

footer {
    background-color: #333333; /* Negro Carbón */
    color: #FFFFFF; /* Blanco */
    padding: 40px 20px;

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        .footer-section {
            flex: 1 1 200px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h2 {
                color: #007BFF; /* Azul */
                margin-bottom: 20px;
            }

            p {
                line-height: 1.6;
            }

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                li {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    a {
                        color: #FFFFFF; /* Blanco */
                        text-decoration: none;

                        &:hover {
                            color: #8A2BE2; /* Morado Chillón */
                        }
                    }
                }
            }

            .social-links {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                justify-content: center;
                align-items: center;
                text-align: center;
                a {
                    color: #FFFFFF; /* Blanco */
                    font-size: 1.5em;
                    transition: color 0.3s;

                    &:hover {
                        color: #8A2BE2; /* Morado Chillón */
                    }
                }
                a img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #007BFF; /* Azul */
        padding-top: 20px;

        p {
            margin: 0;
        }

        .contributions {
            margin-bottom: 40px;
        }
    }
}



/* * Estilizamos la sección de logros */
.achievements {
    padding: 50px 20px;
    text-align: center;
    background: url('../images/achievements-background.jpg') no-repeat center center;
    background-size: cover;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: #007BFF; /* Azul */
        margin-bottom: 30px;
    }

    .achievements-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .achievement-card {
        background: #333333; /* Negro Carbón */
        border-radius: 10px;
        overflow: hidden;
        max-width: 300px;
        text-align: left;
        color: #FFFFFF; /* Blanco */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-10px);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h3 {
            margin: 20px 15px 10px 15px;
            color: #8A2BE2; /* Morado Chillón */
        }

        p {
            margin: 0 15px 20px 15px;
        }
    }
}
