:root {
    --purple: #c501e2;
    --white: #ffff;
    --black: #1a1a1a;
    --light-black: #333;
    --blue: #01c4e7;
    --green: #2ef8a0;
    --shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

section {
    margin: 20px 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--light-black);
    color: var(--white);
    text-align: center;
}

/* TODO NAV BAR */
#navbar {
    background-color: var(--light-black);
    color: var(--white);
    position: fixed;
    top: 20px;
    border-radius: 20px;
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Desplazar a la izquierda la mitad de su ancho */
    width: 760px;
    z-index: 1000;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center; /* Centrar los elementos verticalmente */
    justify-content: center; /* Centrar los elementos horizontalmente */
    height: 50px; /* Altura del navbar, ajusta según necesites */
}

#navbar li {
    margin: 0 10px; /* Espaciado entre los elementos del navbar */
}

#navbar li a {
    color: var(--purple);
    padding: 14px 16px;
}

#navbar li a:hover {
    background-color: var(--white);
    color: var(--black);
}

/* * HAMBURGUER */
/* Hacer el navbar responsivo */
@media (max-width: 768px) {
    #navbar {
        top: 0;
        padding: 12px 0px;
        width: 100%; /* Hacer que el navbar ocupe todo el ancho en pantallas pequeñas */
        border-radius: 0; /* Opcional: eliminar el borde redondeado en pantallas pequeñas */
    }

    #navbar ul {
        flex-direction: column; /* Cambiar la disposición de los enlaces a vertical */
        height: auto; /* Ajustar la altura automáticamente */
        display: none; /* Ocultar los enlaces por defecto */
    }

    #navbar.active ul {
        display: flex; /* Mostrar los enlaces cuando el navbar esté activo */
    }

    #navbar li {
        margin: 10px 0; /* Agregar un poco de margen entre los elementos del navbar */
    }

    .hamburger {
        display: block; /* Mostrar el menú hamburguesa */
        cursor: pointer;
        margin-left: 20px;
    }

    /* Estilos para el ícono del menú hamburguesa */
    .hamburger div {
        width: 30px; /* Ancho del menú hamburguesa */
        height: 3px; /* Altura de las barras del menú hamburguesa */
        background-color: var(--white);
        margin: 5px 0;
        transition: 0.4s;
    }
}

/* Estilo para cambiar la forma del ícono hamburguesa cuando está activo */
.hamburger.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar2 {
    opacity: 0;
}

.hamburger.active .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}




/* TODO HEADER */

#hero {
    /* Imágenes de fondo múltiples: la primera imagen es la foto, la segunda es el fondo adicional */
    background-image: url(../IMG/Frank\ Alayza\ -\ Fondo\ Transparente\ rectangular.png), url(../IMG/3d-render-low-poly-plexus-design-network-communications.jpg);
    background-position: center, center; /* Centra ambas imágenes */
    background-size: auto 80%, 100% 100vh; /* Ajusta el tamaño de la foto y el fondo adicional */
    background-repeat: no-repeat, no-repeat; /* Evita que se repitan las imágenes */

    height: 100vh; /* Toma toda la altura de la pantalla */
    position: relative;
}

.hero-content {
    position: relative; /* Es importante para posicionar correctamente los pseudo-elementos */
    z-index: 2;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
@media (max-width: 375px) {
    .hero-content {
        padding: 12px;
    }
}

.hero-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -28px;
    left: 50%; /* Establecer el borde izquierdo del pseudo-elemento en el centro */
    transform: translateX(-50%); /* Desplazar el pseudo-elemento hacia la izquierda la mitad de su ancho */
    width: 700px;
    z-index: -1; /* Por debajo del contenido del texto, pero por encima del fondo */
    background: linear-gradient(to top, var(--blue) 50%, rgba(255, 255, 255, 0)) 70%; /* De blanco a transparente */
    border-bottom-left-radius: 20px; /* Suaviza la esquina inferior izquierda */
    border-bottom-right-radius: 20px; /* Suaviza la esquina inferior derecha */
    overflow: hidden;
    /* Ajusta los colores y la dirección según tus necesidades */
}
@media (max-width: 768px) {
    .hero-content::before {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .hero-content::before {
        width: 100%;
    }
}

h1 {
    font-size: 3em; /* Ajustar según necesidad */
}

p {
    font-size: 1.5em;
    margin-top: 10px;
}


/* TODO MAIN */

/* * AboutMe */

.about-me-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: var(--black);
    background-color: var(--white);
}

.about-me-photo img {
    max-width: 500px;
    padding: 0px 20px;
    border-radius: 50%; /* Optional, for a rounded photo */
}

.about-me-content {
    max-width: 600px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-me-section {
        flex-direction: column;
        text-align: center;
    }

    .about-me-photo img {
       width: 80%;
        margin-bottom: 20px;
    }
}


.read-more-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    /* Add more styles as per your design */
}

.read-more-btn:hover {
    background-color: var(--green);
    /* Change color on hover */
}




/* * portafolio */

#portfolio {
    background-color: var(--white);
    padding: 20px;
    text-align: center;
}

.portfolio-header h2 {
    font-size: 2em;
    color: var(--black);
}

.portfolio-header p {
    font-size: 1em;
    color: var(--light-black);
}

.portfolio-categories {
    margin: 20px 0;
}

.category-btn {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.category-btn:hover {
    background-color: var(--green);
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 10px;
    padding: 10px;
    width: 300px; /* Ajustar según el diseño */
    border: 1px solid var(--light-black);
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    color: var(--black);
}

.project p {
    color: var(--light-black);
}
.project p:nth-child(4) {
    margin-bottom: 12px;
}

.project a {
    color: var(--blue);
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}




/* * experiencia */

#experience {
    background-color: var(--white);
    padding: 20px;
    color: var(--black);
}

.experience-header h2 {
    font-size: 2em;
}

.experience-header p {
    font-size: 1em;
}

.experience-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.experience-item {
    margin-bottom: 20px;
}

.experience-item h3 {
    color: var(--blue);
    font-size: 1.2em;
}

.experience-dates {
    font-style: italic;
    color: var(--light-black);
}

.responsibilities {
    list-style: inside square;
}

.skills-developed {
    font-style: italic;
    color: var(--green);
}

.experience-img img {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    border-radius: 5px; /* Opcional para bordes redondeados */
}

/* Resto de tus estilos ... */




/* * certificados */

#certificates {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 20px;
    color: var(--black);
}

.certificates-header h2 {
    font-size: 2em;
}

.certificates-header p {
    font-size: 1em;
}

.certificate-filters {
    margin-top: 8px;
}

.certificate-filters button {
    padding: 5px 10px;
    border: none;
    background-color: var(--light-black);
    color: var(--white);
    cursor: pointer;
    gap: 5px;
    margin-bottom: 8px;
}

.certificate-filters button:hover {
    background-color: var(--blue);
}

.certificates-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.certificate-item {
    margin-bottom: 20px;
    width: 30%; /* Ajustar para 3 por fila */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 300px;
}

.certificate-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.show-more {
    width: 100%;
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    display: block; /* Asegura que ocupe todo el ancho disponible */
}

.show-more:hover {
    background-color: var(--green);
}

/* Media query para tablets */
@media (max-width: 768px) {
    .certificate-item {
        width: 45%; /* Ajuste para mostrar 2 elementos por fila */
    }
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .certificate-item {
        width: 100%; /* Ajuste para mostrar 1 elemento por fila */
    }

    .certificate-filters button {
        padding: 10px; /* Botones más grandes para mejor accesibilidad */
        font-size: 1em; /* Tamaño de fuente más grande para mejor legibilidad */
    }
}




/* TODO footer */

#contact {
    background-color: var(--light-black);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

#contact .form-contact-divider {
    margin-bottom: 12px;
}

.contact-form {
    margin: 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--black);
}

.contact-form button {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--green);
}

.direct-contact p, .social-links a {
    margin: 10px 0;
}

.social-links a:hover {
    text-decoration: underline;
    color: var(--green);
}

.social-icon {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin: 0 5px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: var(--white);
}

.social-links .social-network a img {
    width: 60px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 50%;
}

/* Media query para tablets */
@media (min-width: 768px) {
    #contact .form-contact-divider {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form social";
    }
    .form-divider {
        grid-area: form;
    }
    .social-links {
        grid-area: social;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .direct-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .social-network {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}