/* Creamos las variables de los colores */
:root {
    --negro: #000000;
    --negro-carbon: #333333;
    --azul: #007BFF;
    --morado-oscuro: #4B0082;
    --morado-chillon: #8A2BE2;
    --blanco: #FFFFFF;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--negro-carbon);
    color: var(--blanco);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--azul);
}

a {
    color: var(--morado-chillon);
}

.btn {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}



/* * Estilisamos el Home */
.home {
    background-image: url("../img/black-background.jpg");
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover; /* Ajustar tamaño de la imagen para cubrir toda la sección */
    background-position: center;
    padding: 40px 0;
    text-align: center;
}
.home img {
    width: 80%;
    max-width: 700px;
}
.home .tagline {
    color: var(--morado-chillon);
}
.home .cta-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente línea si no caben */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre botones */
    align-items: center;
    text-align: center;
}



/* * Estilisamos la sección de About me */
.about_me{
    background-color: var(--morado-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}
.about_me .intro-text {
    max-width: 700px;
}
.about_me .bio {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.about_me .bio img {
    width: 100%;
}



/* * Estilisamos la sección de Projects */
.projects {
    padding: 50px 20px;
    text-align: center;
    background: url('../images/projects-background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: var(--azul); /* Azul */
        margin-bottom: 30px;
    }

    .btn {
        margin-top: 24px;
    }

    .projects-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1350px;
    }

    .project-card {
        background: var(--negro-carbon); /* Negro Carbón */
        border-radius: 10px;
        overflow: hidden;
        max-width: 300px;
        text-align: left;
        color: var(--blanco); /* Blanco */
        box-shadow: 0 4px 8px rgba(95, 0, 204, 0.616);
        transition: transform 0.3s;
        text-align: center;

        &:hover {
            transform: translateY(-10px);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h3 {
            margin: 20px 15px 10px 15px;
            color: var(--morado-chillon); /* Morado Chillón */
        }

        p {
            margin: 0 15px 20px 15px;
        }

        .btn {
            display: block;
            background-color: var(--azul); /* Azul */
            color: var(--blanco); /* Blanco */
            text-align: center;
            padding: 10px 0;
            margin: 0 15px 20px 15px;
            text-decoration: none;
            border-radius: 5px;
        }
    }
}



/* * Estilizamos la seccion del blog */
.blog {
    padding: 0px 20px;
    text-align: center;
    background: url('../images/blog-background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: #007BFF; /* Azul */
        margin-bottom: 30px;
    }

    .blog-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1350px;
    }

    .blog-card {
        background: #333333; /* Negro Carbón */
        border-radius: 10px;
        overflow: hidden;
        max-width: 300px;
        text-align: left;
        color: #FFFFFF; /* Blanco */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-10px);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h3 {
            margin: 20px 15px 10px 15px;
            color: #8A2BE2; /* Morado Chillón */
        }

        p {
            margin: 0 15px 20px 15px;
        }

        .btn {
            display: block;
            background-color: #007BFF; /* Azul */
            color: #FFFFFF; /* Blanco */
            text-align: center;
            padding: 10px 0;
            margin: 0 15px 20px 15px;
            text-decoration: none;
            border-radius: 5px;
        }
    }
}



/* * Estilizamos la sección de contacto */
.contact {
    padding: 50px 20px;
    text-align: center;
    background: url('../images/contact-background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;;

    .content {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: #007BFF; /* Azul */
        margin-bottom: 30px;
    }

    .intro-text {
        margin-bottom: 30px;
        color: #FFFFFF; /* Blanco */
    }

    .contact-form {
        text-align: left;
        width: 100%;
        max-width: 1200px;

        form {
            display: flex;
            flex-direction: column;

            .form-group {
                margin-bottom: 20px;

                label {
                    display: block;
                    color: #FFFFFF; /* Blanco */
                    margin-bottom: 5px;
                }

                input, textarea {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    font-size: 1em;
                }

                input[type="text"], input[type="email"] {
                    height: 40px;
                }

                textarea {
                    resize: vertical;
                }
            }

            .btn {
                background-color: #007BFF; /* Azul */
                color: #FFFFFF; /* Blanco */
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1em;
                text-align: center;

                &:hover {
                    background-color: #0056b3; /* Azul oscuro */
                }
            }
        }
    }
}
