:root {
    --purple: #c501e2;
    --white: #ffff;
    --black: #1a1a1a;
    --light-black: #333;
    --blue: #01c4e7;
    --green: #2ef8a0;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

section {
    margin: 20px 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--light-black);
    color: var(--white);
    text-align: center;
}

/* TODO NAV BAR */
#navbar {
    background-color: var(--light-black);
    color: var(--white);
    position: fixed;
    top: 20px;
    border-radius: 20px;
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Desplazar a la izquierda la mitad de su ancho */
    width: 760px;
    z-index: 1000;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center; /* Centrar los elementos verticalmente */
    justify-content: center; /* Centrar los elementos horizontalmente */
    height: 50px; /* Altura del navbar, ajusta según necesites */
}

#navbar li {
    margin: 0 10px; /* Espaciado entre los elementos del navbar */
}

#navbar li a {
    color: var(--purple);
    padding: 14px 16px;
}

#navbar li a:hover {
    background-color: var(--white);
    color: var(--black);
}

/* * HAMBURGUER */
/* Hacer el navbar responsivo */
@media (max-width: 768px) {
    #navbar {
        top: 0;
        padding: 12px 0px;
        width: 100%; /* Hacer que el navbar ocupe todo el ancho en pantallas pequeñas */
        border-radius: 0; /* Opcional: eliminar el borde redondeado en pantallas pequeñas */
    }

    #navbar ul {
        flex-direction: column; /* Cambiar la disposición de los enlaces a vertical */
        height: auto; /* Ajustar la altura automáticamente */
        display: none; /* Ocultar los enlaces por defecto */
    }

    #navbar.active ul {
        display: flex; /* Mostrar los enlaces cuando el navbar esté activo */
    }

    #navbar li {
        margin: 10px 0; /* Agregar un poco de margen entre los elementos del navbar */
    }

    .hamburger {
        display: block; /* Mostrar el menú hamburguesa */
        cursor: pointer;
        margin-left: 20px;
    }

    /* Estilos para el ícono del menú hamburguesa */
    .hamburger div {
        width: 30px; /* Ancho del menú hamburguesa */
        height: 3px; /* Altura de las barras del menú hamburguesa */
        background-color: var(--white);
        margin: 5px 0;
        transition: 0.4s;
    }
}

/* Estilo para cambiar la forma del ícono hamburguesa cuando está activo */
.hamburger.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar2 {
    opacity: 0;
}

.hamburger.active .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}




/* TODO HEADER */

#hero {
    /* Imágenes de fondo múltiples: la primera imagen es la foto, la segunda es el fondo adicional */
    background-image: url(../IMG/Frank\ Alayza\ -\ Fondo\ Transparente\ rectangular.png), url(../IMG/3d-render-low-poly-plexus-design-network-communications.jpg);
    background-position: center, center; /* Centra ambas imágenes */
    background-size: auto 80%, 100% 100vh; /* Ajusta el tamaño de la foto y el fondo adicional */
    background-repeat: no-repeat, no-repeat; /* Evita que se repitan las imágenes */

    height: 100vh; /* Toma toda la altura de la pantalla */
    position: relative;
}

.hero-content {
    position: relative; /* Es importante para posicionar correctamente los pseudo-elementos */
    z-index: 2;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
@media (max-width: 375px) {
    .hero-content {
        padding: 12px;
    }
}

.hero-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -28px;
    left: 50%; /* Establecer el borde izquierdo del pseudo-elemento en el centro */
    transform: translateX(-50%); /* Desplazar el pseudo-elemento hacia la izquierda la mitad de su ancho */
    width: 700px;
    z-index: -1; /* Por debajo del contenido del texto, pero por encima del fondo */
    background: linear-gradient(to top, var(--blue) 50%, rgba(255, 255, 255, 0)) 70%; /* De blanco a transparente */
    border-bottom-left-radius: 20px; /* Suaviza la esquina inferior izquierda */
    border-bottom-right-radius: 20px; /* Suaviza la esquina inferior derecha */
    overflow: hidden;
    /* Ajusta los colores y la dirección según tus necesidades */
}
@media (max-width: 768px) {
    .hero-content::before {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .hero-content::before {
        width: 100%;
    }
}

h1 {
    font-size: 3em; /* Ajustar según necesidad */
}

p {
    font-size: 1.5em;
    margin-top: 10px;
}


/* TODO MAIN */

/* * AboutMe */

.about-me-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: var(--black);
    background-color: var(--white);
}

.about-me-photo img {
    max-width: 500px;
    padding: 0px 20px;
    border-radius: 50%; /* Optional, for a rounded photo */
}

.about-me-content {
    max-width: 600px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-me-section {
        flex-direction: column;
        text-align: center;
    }

    .about-me-photo img {
        max-width: 400px;
        margin-bottom: 20px;
    }
}


.read-more-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    /* Add more styles as per your design */
}

.read-more-btn:hover {
    background-color: var(--green);
    /* Change color on hover */
}




/* * portafolio */



/* * experiencia */



/* * certificados */




/* TODO footer */






/* Estilos adicionales para botones, formularios, etc. */
